@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;





@layer components {
  .btn-primary {
    @apply border-2 rounded-2xl text-xl font-bold text-white p-2 transition-all hover:scale-110;
  }
}

@keyframes animModal {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: scale(0);
  }

  45% {
    animation-timing-function: ease-out;
    opacity: 1;

    transform: scale(1);
  }

  70% {
    animation-timing-function: ease-in;
    transform: scale(0.90);
  }

  100% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }

}

@layer utilities {
  .animate-modal {
    animation: animModal 0.4s linear normal;
  }
}

@keyframes animModalOpacity {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;

  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
  }

}

@layer utilities {
  .animate-modal-opacity {
    animation: animModalOpacity 0.4s linear normal;
  }
}

@keyframes animateDelete {
  0% {
    transform: translateX(0);
    opacity: 100
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateX(100%);
    opacity: 0;
  }
}

@layer utilities {
  .animate-delete {
    animation: animateDelete 0.3s linear normal;
  }
}

@keyframes animateComplete {
  0% {
    transform: translateX(0);
    opacity: 100
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateX(-100%);
    opacity: 0;
  }
}

@layer utilities {
  .animate-complete {
    animation: animateComplete 0.3s linear normal;
  }
}

@keyframes animateTask {
  0% {
    transform: scale(0);
    opacity: 100
  }

  100% {
    animation-timing-function: ease-out;
    transform: scale(1);
    opacity: 0;
  }
}

@layer utilities {
  .animate-task {
    animation: animateTask 0.2s linear normal;
  }
}

